<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RESTAURANT_APP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>CompactSkin/WXI</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Office White</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <connectionStrings>
    <add name="RESTAURANT_APP.My.MySettings.RESTAURANT_DBConnectionString"
      connectionString="Data Source=.\SALES_DEV;Initial Catalog=RESTAURANT_DB;User ID=sa;Password=12345;Integrated Security=False"
      providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <RESTAURANT_APP.My.MySettings>
      <setting name="RONGTA_IP_ADDRESS" serializeAs="String">
        <value>192.168.1.87</value>
      </setting>
      <setting name="RONGTA_WEIGHT_DIRECT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RONGTA_SCALE_ON" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SHOW_TOTAL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Path_report" serializeAs="String">
        <value>RPT_SALES_TEMP</value>
      </setting>
      <setting name="printer_name" serializeAs="String">
        <value>CASH</value>
      </setting>
      <setting name="flag_print" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MSG_SAVE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FLAG_EDIT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Path_report_ITEMS" serializeAs="String">
        <value>RPT_REPORT_ITEMS</value>
      </setting>
      <setting name="Path_report_USERS" serializeAs="String">
        <value>RPT_REPORT_USER</value>
      </setting>
      <setting name="PORT_NAME" serializeAs="String">
        <value />
      </setting>
      <setting name="CUSTOMER_DISPLAY" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_PRINT_KITCHEN_ALL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PRINTER_NAME_KITCHEN_ALL" serializeAs="String">
        <value>CASH</value>
      </setting>
      <setting name="Path_report_KITCHEN_ALL" serializeAs="String">
        <value>RPT_KITCHEN_ALL</value>
      </setting>
      <setting name="Path_report_KITCHEN_PRINTER" serializeAs="String">
        <value>RPT_KITCHEN</value>
      </setting>
      <setting name="IS_PRINT_KETCHEN" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DATABASE_NAME" serializeAs="String">
        <value>RESTAURANT_DB</value>
      </setting>
      <setting name="IS_CALL_NO" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DF_INVOICE_CODE" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Path_report_SAFARY" serializeAs="String">
        <value>RPT_SALES_SAFARY</value>
      </setting>
      <setting name="Path_report_DELEVERY" serializeAs="String">
        <value>RPT_SALES_DELEVERY</value>
      </setting>
      <setting name="SKIN_NAME" serializeAs="String">
        <value>Metropolis</value>
      </setting>
      <setting name="IS_GEFT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IS_SIP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SKIN_POLLETE" serializeAs="String">
        <value />
      </setting>
      <setting name="IS_CAPTAIN" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_FORM_CASH" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_LAST_WAIT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IS_CALL_NO_SALA" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KEY_BARCODE" serializeAs="String">
        <value>27</value>
      </setting>
      <setting name="SALES_BARCODE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SAVE_SETTING_DATE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ROUND_250" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PRINTER_NAME_DELEVERY" serializeAs="String">
        <value>CASH</value>
      </setting>
      <setting name="QTY_MAREGE_SALES" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ROUND_VALUE" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="ROUND_TYPE" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ITEM_STORE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PRINTER_NAME_SALA" serializeAs="String">
        <value>CASH</value>
      </setting>
      <setting name="PRINTER_NAME_APPS" serializeAs="String">
        <value>CASH</value>
      </setting>
      <setting name="IS_PRINT_KITCHEN_ALL_DELEVERY" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PRINTER_NAME_KITCHEN_ALL_DELEVERY" serializeAs="String">
        <value>CASH</value>
      </setting>
      <setting name="IS_PRINT_KITCHEN_ALL_SALA" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PRINTER_NAME_KITCHEN_ALL_SALA" serializeAs="String">
        <value>CASH</value>
      </setting>
      <setting name="IS_PRINT_KITCHEN_ALL_APPS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PRINTER_NAME_KITCHEN_ALL_APPS" serializeAs="String">
        <value>CASH</value>
      </setting>
      <setting name="IS_ORDER_TYPE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BUTTON_PRINT_TABLE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="REFRESH_TABLE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BLUETOOTH_NAME" serializeAs="String">
        <value />
      </setting>
      <setting name="BLUETOOTH_MAC" serializeAs="String">
        <value />
      </setting>
      <setting name="IS_BLUETOOTH" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="V_NO_DATA" serializeAs="String">
        <value>2.0.6.6</value>
      </setting>
      <setting name="TEL_CHAT_ID" serializeAs="String">
        <value />
      </setting>
      <setting name="VER_TELEGRAM" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="STATE_TSTS_CLOUD_BACKUP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TT_PC_NAME" serializeAs="String">
        <value>.</value>
      </setting>
      <setting name="TT_SERVER_NAME" serializeAs="String">
        <value>SALES_DEV</value>
      </setting>
      <setting name="TT_USER_NAME" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="TT_PASSWORD" serializeAs="String">
        <value>12345</value>
      </setting>
      <setting name="LINK_API" serializeAs="String">
        <value>http://api-iraqsoft.com:8080</value>
      </setting>
      <setting name="API_SERVER" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ROUND_EXIST" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BTN_WIDTH" serializeAs="String">
        <value>135</value>
      </setting>
      <setting name="BTN_HEIGHT" serializeAs="String">
        <value>58</value>
      </setting>
      <setting name="BTN_FONT" serializeAs="String">
        <value>Times New Roman, 12pt, style=Bold</value>
      </setting>
      <setting name="FLAG_DEBIT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="COPY_IS_PRINT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="COPY_IS_PRINT_DELEVERY" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="COPY_IS_PRINT_SALA" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="COPY_IS_PRINT_APPS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="COPY_PRINTER_NAME" serializeAs="String">
        <value />
      </setting>
      <setting name="COPY_PRINTER_NAME_DELEVERY" serializeAs="String">
        <value />
      </setting>
      <setting name="COPY_PRINTER_NAME_SALA" serializeAs="String">
        <value />
      </setting>
      <setting name="COPY_PRINTER_NAME_APPS" serializeAs="String">
        <value />
      </setting>
      <setting name="SHOW_SIP_PHONE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_SPLIT_BILL_ORDER" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_AUTO_DISCOUNT_APP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_DELEVERY_CASH" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MAX_DISCOUNT_PERCENT" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="IS_PRINT_TABLE_CASH" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_RETURN_PRINT_KETCHIN" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SHOW_TABLE_USER_ONLY" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_COPY_TEXT_SALES" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BASE_URL_APP" serializeAs="String">
        <value>http://209.250.237.58:5010/</value>
      </setting>
      <setting name="BRANCH_URL_APP" serializeAs="String">
        <value />
      </setting>
      <setting name="IS_SIP_APK" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TOKEN_SIP_APK" serializeAs="String">
        <value />
      </setting>
      <setting name="IS_USER_WITH_CAPTIN" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_ASK_CLIENT_NO_TABLE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_UPDATE_USER_EDIT_ORDER" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IS_WHY_DISCOUNT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_RECIPIENT_OF_SAFARY" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_RECIPIENT_OF_SALA" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_RECIPIENT_OF_DELEVERY" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_RECIPIENT_OF_APP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_WHY_DELETE_ORDER" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_DEFAULT_DISCOUNT_SAFARY" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_DEFAULT_DISCOUNT_SALA" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_DEFAULT_DISCOUNT_DELEVERY" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VALUE_DEFAULT_DISCOUNT_SAFARY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VALUE_DEFAULT_DISCOUNT_SALA" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VALUE_DEFAULT_DISCOUNT_DELEVERY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OPEN_APP_SPEEDOO" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OPEN_APP_TALABATEY" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OPEN_APP_ALSAREE3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OPEN_APP_TOTARS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OPEN_APP_BALY" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="URL_APP_FOOD" serializeAs="String">
        <value />
      </setting>
      <setting name="URL_APP_MENU" serializeAs="String">
        <value />
      </setting>
      <setting name="IS_MULTI_SELL_PRICE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_ADD_NOTE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_FULL_INPUT_DELEVERY" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_UPDATE_STATUS_ITEMS_URL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_PRINT_ALL_IN_UPDATE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_TABOR" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="USER_NAME_TABOR" serializeAs="String">
        <value />
      </setting>
      <setting name="PASSWORD_TABOR" serializeAs="String">
        <value />
      </setting>
      <setting name="IS_ADD_NOTE_FIRST" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IS_POS_TBADUL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="POS_CLIENT_POS" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TBP_COM" serializeAs="String">
        <value>COM2</value>
      </setting>
      <setting name="IS_ADD_NOTE_AND_PRICE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_UPLOAD_XLSX" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_DELETE_SERVICE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_NOT_PRINT_DELETE_KITCHEN" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_BILL_ORDER_IN_PRINT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_CALL_CENTER" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LINK_TABOR" serializeAs="String">
        <value />
      </setting>
      <setting name="LINK_TABOR_ONLINE" serializeAs="String">
        <value>https://q-tabor.iraqsapp.com</value>
      </setting>
      <setting name="WARNING_DATE" serializeAs="String">
        <value>08/01/2027 12:07:00</value>
      </setting>
      <setting name="EXPIRED_DATE" serializeAs="String">
        <value>03/01/2027 12:07:00</value>
      </setting>
      <setting name="WARNING_STR" serializeAs="String">
        <value />
      </setting>
      <setting name="WHATSAPP_KEY" serializeAs="String">
        <value />
      </setting>
      <setting name="WHATSAPP_EXPIRED" serializeAs="String">
        <value>2024-01-01</value>
      </setting>
      <setting name="CATEGORY_EXCEPT_TABOR" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IS_SPECIAL_APP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SPECIAL_APP_USER_NAME" serializeAs="String">
        <value />
      </setting>
      <setting name="SPECIAL_APP_PASSWORD" serializeAs="String">
        <value />
      </setting>
      <setting name="SPECIAL_APP_LINK" serializeAs="String">
        <value />
      </setting>
      <setting name="SPECIAL_APP_BRANCH_ID" serializeAs="String">
        <value />
      </setting>
      <setting name="IS_FIRST_CATEGORY" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="STR_POS_SCREEN_2" serializeAs="String">
        <value>اهلا وسهلا بكم</value>
      </setting>
      <setting name="LINK_IMG_OFFLINE" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="IS_TWO_DIGITS_TABOR" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DEFOAULT_REGION_NAME" serializeAs="String">
        <value>حــــجــزززز</value>
      </setting>
      <setting name="XLSX_USER_NAME" serializeAs="String">
        <value />
      </setting>
      <setting name="XLSX_PASSWORD" serializeAs="String">
        <value />
      </setting>
      <setting name="XLSX_LINK" serializeAs="String">
        <value />
      </setting>
      <setting name="XLSX_BRANCH_NAME" serializeAs="String">
        <value>IQ</value>
      </setting>
      <setting name="SPECIAL_STATE_ORDER" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SPECIAL_STATE_ORDER_ACCEPT" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SPECIAL_STATE_ORDER_REJACT" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="UPLOAD_XLSX_MINETS" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="CLIENT_CODE_QI_CARD" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="CLIENT_CODE_SWITCH" serializeAs="String">
        <value>1001</value>
      </setting>
      <setting name="QI_DEVICE_PORT" serializeAs="String">
        <value>COM3</value>
      </setting>
      <setting name="SWICH_DEVICE_PORT" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="SWICH_DEVICE_TID" serializeAs="String">
        <value />
      </setting>
      <setting name="SYNCH_ORDER_TABLE_BARCODE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_PRINT_INVOICE_DELEVERY" serializeAs="String">
        <value>True</value>
      </setting>
    </RESTAURANT_APP.My.MySettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeAnalysis" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.11.0.0" newVersion="4.11.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeAnalysis.Workspaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.11.0.0" newVersion="4.11.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeAnalysis.VisualBasic" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.11.0.0" newVersion="4.11.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.AttributedModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Humanizer" publicKeyToken="979442b78dfc278e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.14.0.0" newVersion="2.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.TypedParts" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.Hosting" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.4" newVersion="8.0.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
</configuration>