USE [RESTAURANT_DB]
GO
/****** Object:  Table [dbo].[caller]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[caller]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[caller](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[phone] [nvarchar](max) NULL,
	[status] [int] NULL,
	[TOKEN] [nvarchar](max) NULL,
 CONSTRAINT [PK_caller] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_APP_BRANCH]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_APP_BRANCH]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_APP_BRANCH](
	[T_ID] [int] NOT NULL,
	[NAME_BRANCH] [nvarchar](max) NULL,
	[SIGN_BRANCH] [nvarchar](max) NULL,
	[APP_LINK] [nvarchar](max) NULL,
 CONSTRAINT [PK_T_APP_BRANCH] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_APP_CALL_CENTER]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_APP_CALL_CENTER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_APP_CALL_CENTER](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[BILL_NUMBER_SERVER] [int] NULL,
	[BILL_ORDER_SERVER] [int] NULL,
	[USER_CREATE] [nvarchar](max) NULL,
	[INFO] [nvarchar](max) NULL,
	[DETAILS] [nvarchar](max) NULL,
	[NOTE_TABE3] [nvarchar](max) NULL,
	[C_DATE] [datetime] NULL,
	[IS_PRINT] [bit] NULL,
	[IS_INSERT] [bit] NULL,
	[USER_INSERT] [nvarchar](max) NULL,
	[INSERT_C_DATE] [datetime] NULL,
	[BILL_NUMBER] [int] NULL,
	[BILL_ORDER] [int] NULL,
 CONSTRAINT [PK_T_APP_CALL_CENTER] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_APP_CLIENT]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_APP_CLIENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_APP_CLIENT](
	[CLIENT_CODE] [int] IDENTITY(1,1) NOT NULL,
	[CLIENT_NAME] [nvarchar](max) NULL,
	[CLIENT_REGION] [nvarchar](max) NULL,
	[CLIENT_PHONE] [nvarchar](max) NULL,
	[CLIENT_ADDRESS] [nvarchar](max) NULL,
	[USER_NAME] [nvarchar](max) NULL,
	[USER_PWD] [nvarchar](max) NULL,
	[NOTE_1] [nvarchar](max) NULL,
	[NOTE_2] [nvarchar](max) NULL,
	[LOCATION_X] [nvarchar](max) NULL,
	[LOCATION_Y] [nvarchar](max) NULL,
	[ACTIVE] [bit] NULL,
	[IS_BLOCK] [bit] NULL,
	[C_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_APP_CLIENT] PRIMARY KEY CLUSTERED 
(
	[CLIENT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_APP_INVOICE]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_APP_INVOICE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_APP_INVOICE](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[D_DATE] [date] NULL,
	[D_TIME] [datetime] NULL,
	[INFO] [nvarchar](max) NULL,
	[DETAILS] [nvarchar](max) NULL,
	[B_CODE] [int] NULL,
	[IS_INSERT] [bit] NULL,
	[BILL_GIUD] [nvarchar](max) NULL,
	[BILL_BRANCH] [nvarchar](max) NULL,
	[CLIENT_NAME] [nvarchar](max) NULL,
	[CLIENT_PHONE] [nvarchar](max) NULL,
	[CLIENT_ADDRESS] [nvarchar](max) NULL,
	[B_NAME] [nvarchar](max) NULL,
	[USER_CREATE] [nvarchar](max) NULL,
	[DEVICE_ID] [nvarchar](max) NULL,
	[IS_ACCEPT] [int] NULL,
	[TOKEN_APP] [nvarchar](max) NULL,
	[BRANCH] [nvarchar](max) NULL,
 CONSTRAINT [PK_T_APP_INVOICE] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_APP_REPORT]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_APP_REPORT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_APP_REPORT](
	[T_ID] [int] NOT NULL,
	[R_I] [nvarchar](max) NULL,
	[R_U] [nvarchar](max) NULL,
	[R_UP] [nvarchar](max) NULL,
	[R_TO] [nvarchar](max) NULL,
	[R_S] [nvarchar](max) NULL,
 CONSTRAINT [PK_T_APP_REPORT] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_APP_SAFARY]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_APP_SAFARY]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_APP_SAFARY](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[D_DATE] [date] NULL,
	[D_TIME] [datetime] NULL,
	[INFO] [nvarchar](max) NULL,
	[DETAILS] [nvarchar](max) NULL,
	[INVOICE_CODE] [int] NULL,
	[IS_INSERT] [bit] NULL,
	[BILL_NUMBER] [int] NULL,
	[BILL_ORDER] [int] NULL,
	[TABLE_CODE] [int] NULL,
	[USER_CODE] [int] NULL,
	[IS_ACCEPT] [int] NULL,
	[C_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_APP_SAFARY] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_APP_TABLE]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_APP_TABLE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_APP_TABLE](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[D_DATE] [date] NULL,
	[D_TIME] [datetime] NULL,
	[INFO] [nvarchar](max) NULL,
	[DETAILS] [nvarchar](max) NULL,
	[INVOICE_CODE] [int] NULL,
	[IS_INSERT] [bit] NULL,
	[BILL_NUMBER] [int] NULL,
	[BILL_ORDER] [int] NULL,
	[TABLE_CODE] [int] NULL,
	[USER_CODE] [int] NULL,
	[IS_ACCEPT] [int] NULL,
	[C_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_APP_TABLE] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_APP_TYPE]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_APP_TYPE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_APP_TYPE](
	[APP_CODE] [int] NOT NULL,
	[APP_NAME] [nvarchar](max) NULL,
	[APP_DISCOUNT] [float] NULL,
	[ACTIVE] [bit] NULL,
	[IVC_CODE] [int] NULL,
	[IS_ROUND] [bit] NULL,
	[ROUND_VALUE] [int] NULL,
	[ROUND_TYPE] [int] NULL,
	[ROUND_EXIST] [int] NULL,
	[CLIENT_CODE] [int] NULL,
 CONSTRAINT [PK_T_APP_TYPE] PRIMARY KEY CLUSTERED 
(
	[APP_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_CALL_NUMBER]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_CALL_NUMBER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_CALL_NUMBER](
	[CALL_NUMBER] [int] NOT NULL,
 CONSTRAINT [PK_T_CALL_NUMBER_1] PRIMARY KEY CLUSTERED 
(
	[CALL_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_CAPTAIN]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_CAPTAIN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_CAPTAIN](
	[CAPTAIN_CODE] [int] IDENTITY(1,1) NOT NULL,
	[CAPTAIN_NAME] [nvarchar](max) NULL,
	[ACTIVE] [bit] NULL,
 CONSTRAINT [PK_T_CAPTAIN] PRIMARY KEY CLUSTERED 
(
	[CAPTAIN_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_CLIENT]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_CLIENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_CLIENT](
	[CLIENT_CODE] [int] NOT NULL,
	[CLIENT_NAME] [nvarchar](max) NULL,
	[CLIENT_PHONE] [nvarchar](max) NULL,
	[CLIENT_REGION] [nvarchar](max) NULL,
	[CLIENT_ADDRESS] [nvarchar](max) NULL,
	[CLIENT_ACTIVE] [bit] NULL,
	[C_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_CLIENT] PRIMARY KEY CLUSTERED 
(
	[CLIENT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_CLIENT_CASH]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_CLIENT_CASH]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_CLIENT_CASH](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLIENT_CODE] [int] NULL,
	[AMO_CASH] [float] NULL,
	[C_DATE] [datetime] NULL,
	[USER_CODE] [int] NULL,
	[ACTIVE] [bit] NULL,
 CONSTRAINT [PK_T_CLIENT_CASH] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_COMPANY]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_COMPANY]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_COMPANY](
	[T_ID] [int] NOT NULL,
	[COMPANY_NAME] [nvarchar](max) NULL,
	[COMPANY_LOGO] [image] NULL,
	[COMPANY_PHONE] [nvarchar](max) NULL,
	[COMPANY_TITAL] [nvarchar](max) NULL,
 CONSTRAINT [PK_T_COMPANY] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_CONFIGRATION]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_CONFIGRATION]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_CONFIGRATION](
	[T_ID] [int] NOT NULL,
	[TELEGRAM] [nvarchar](max) NULL,
	[TL_ID] [nvarchar](max) NULL,
	[TL_S] [nvarchar](max) NULL,
	[TELE_MAIN] [nvarchar](max) NULL,
 CONSTRAINT [PK_T_CONFIGRATION] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_DISCOUNT]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_DISCOUNT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_DISCOUNT](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[DISCOUNT_PRICENT] [float] NULL,
	[DISCOUNT_AMOUNT] [float] NULL,
 CONSTRAINT [PK_T_DISCOUNT] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_DRIVER]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_DRIVER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_DRIVER](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[DRIVER_NAME] [nvarchar](max) NULL,
	[USER_APP] [nvarchar](max) NULL,
	[PASSWORD_APP] [nvarchar](max) NULL,
	[ACTIVE] [bit] NULL,
 CONSTRAINT [PK_T_DRIVER] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_DRIVER_TRACKING]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_DRIVER_TRACKING]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_DRIVER_TRACKING](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[DRIVER_CODE] [int] NULL,
	[D_DATE] [datetime] NULL,
	[LIN_X] [nvarchar](max) NULL,
	[LIN_Y] [nvarchar](max) NULL,
	[LIN_Z] [nvarchar](max) NULL,
 CONSTRAINT [PK_T_DRIVER_TRACKING] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_EMP_ENTER]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_EMP_ENTER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_EMP_ENTER](
	[T_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[COMPANY_NAME] [nvarchar](max) NULL,
	[D_DATE] [date] NULL,
	[D_TIME] [datetime] NULL,
	[EMP_CODE] [int] NULL,
	[START_TIME] [datetime] NULL,
	[END_TIME] [datetime] NULL,
	[TOTAL_MUNIT]  AS (datediff(minute,[START_TIME],[END_TIME])),
	[TOTAL_HOUR]  AS (CONVERT([varchar](5),dateadd(minute,datediff(minute,[START_TIME],[END_TIME]),(0)),(114))),
	[NOTE] [nvarchar](max) NULL,
	[IS_PAID] [bit] NULL,
 CONSTRAINT [PK_T_EMP_ENTER] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_EMP_ENTER_REPORT]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_EMP_ENTER_REPORT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_EMP_ENTER_REPORT](
	[T_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[D_DATE] [date] NULL,
	[EMP_CODE] [int] NULL,
	[EMP_NAME] [nvarchar](max) NULL,
	[START_TIME] [datetime] NULL,
	[END_TIME] [datetime] NULL,
	[TOTAL_MUNIT]  AS (datediff(minute,[START_TIME],[END_TIME])),
	[TOTAL_HOUR]  AS (CONVERT([varchar](5),dateadd(minute,datediff(minute,[START_TIME],[END_TIME]),(0)),(114))),
	[C_COUNT] [int] NULL,
 CONSTRAINT [PK_T_EMP_ENTER_REPORT] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_EMPLOYEE]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_EMPLOYEE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_EMPLOYEE](
	[EMP_CODE] [int] NOT NULL,
	[EMP_NAME] [nvarchar](max) NULL,
	[EMP_CARD] [nvarchar](max) NULL,
	[EMP_SALLARY] [float] NULL,
	[PER_DAY] [float] NULL,
	[JOB_HOUR] [float] NULL,
	[PRICE_HOUR]  AS ((nullif([EMP_SALLARY],(0))/nullif([PER_DAY],(0)))/nullif([JOB_HOUR],(0))),
	[PRICE_MINUTE]  AS (((nullif([EMP_SALLARY],(0))/nullif([PER_DAY],(0)))/nullif([JOB_HOUR],(0)))/(60)),
	[JOB_FROM] [nvarchar](10) NOT NULL,
	[JOB_TO] [nvarchar](10) NULL,
	[ACTIVE] [bit] NULL,
 CONSTRAINT [PK_T_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[EMP_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_ERADAT]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_ERADAT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_ERADAT](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[D_DATE] [date] NULL,
	[D_TIME] [datetime] NULL,
	[EXP_TYPE] [nvarchar](max) NULL,
	[AMO] [float] NULL,
	[NOTE] [nvarchar](max) NULL,
	[USER_CODE] [int] NULL,
	[IS_TRANS] [bit] NULL,
	[COMPANY_NAME] [nvarchar](max) NULL,
 CONSTRAINT [PK_T_ERADAT] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_EXPENSES]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_EXPENSES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_EXPENSES](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[D_DATE] [date] NULL,
	[D_TIME] [datetime] NULL,
	[EXP_TYPE] [nvarchar](max) NULL,
	[AMO] [float] NULL,
	[NOTE] [nvarchar](max) NULL,
	[USER_CODE] [int] NULL,
	[IS_TRANS] [bit] NULL,
	[COMPANY_NAME] [nvarchar](max) NULL,
 CONSTRAINT [PK_T_EXPENSES] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_FDB]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_FDB]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_FDB](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[S1] [int] NULL,
	[S2] [nvarchar](max) NULL,
	[S3] [nvarchar](max) NULL,
	[S4] [nvarchar](max) NULL,
	[D_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_FDB] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_FILE_EXCEL]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_FILE_EXCEL]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_FILE_EXCEL](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[FILE_PATH] [nvarchar](max) NULL,
	[IS_UPLOAD] [bit] NULL,
 CONSTRAINT [PK_T_FILE_EXCEL] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_INVOICE_TYPE]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_INVOICE_TYPE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_INVOICE_TYPE](
	[INVOICE_CODE] [int] NOT NULL,
	[INVOICE_NAME] [nvarchar](max) NOT NULL,
	[ACTIVE] [bit] NULL,
 CONSTRAINT [PK_T_INVOICE_TYPE] PRIMARY KEY CLUSTERED 
(
	[INVOICE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_ITEM_BARCODE]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_ITEM_BARCODE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_ITEM_BARCODE](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[ITEM_CODE] [int] NULL,
	[TYPE_VAL] [int] NULL,
	[ITEM_BARCODE] [nvarchar](max) NULL,
 CONSTRAINT [PK_T_ITEM_BARCODE] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_ITEM_CATEGORY]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_ITEM_CATEGORY]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_ITEM_CATEGORY](
	[CATEGORY_CODE] [int] NOT NULL,
	[CATEGORY_NAME] [nvarchar](50) NULL,
	[CATEGORY_NAME_EN] [nvarchar](50) NULL,
	[ACTIVE] [bit] NULL,
	[SHOW_MENU] [bit] NULL,
	[CATEGORY_IMAGE_PATH] [nvarchar](max) NULL,
	[BACK_COLOR] [nvarchar](max) NULL,
	[FONT_COLOR] [nvarchar](max) NULL,
	[SORT] [int] NULL,
 CONSTRAINT [PK_T_ITEM_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_ITEM_NOTE_PRICE]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_ITEM_NOTE_PRICE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_ITEM_NOTE_PRICE](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[ITEM_CODE] [int] NULL,
	[NOTE_NAME] [nvarchar](max) NULL,
	[ADD_PRICE] [float] NULL,
 CONSTRAINT [PK_T_ITEM_NOTE_PRICE] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_ITEM_PRINTER]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_ITEM_PRINTER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_ITEM_PRINTER](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[ITEM_CODE] [int] NULL,
	[QISM_CODE] [int] NULL,
	[PRINTER_ID] [int] NULL,
 CONSTRAINT [PK_T_ITEM_PRINTER] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_ITEM_RECIPE]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_ITEM_RECIPE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_ITEM_RECIPE](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[ITEM_CODE_MAIN] [int] NULL,
	[ITEM_CODE] [int] NULL,
	[QTY] [float] NULL,
 CONSTRAINT [PK_T_ITEM_RECIPE] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_ITEM_SALES_NOTE]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_ITEM_SALES_NOTE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_ITEM_SALES_NOTE](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[INFO_NAME] [nvarchar](max) NULL,
 CONSTRAINT [PK_T_ITEM_SALES_NOTE] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_ITEM_STORE]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_ITEM_STORE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_ITEM_STORE](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[DATE_JOB] [date] NULL,
	[ITEM_CODE] [int] NULL,
	[QTY_IN] [float] NULL,
	[QTY_OUT] [float] NULL,
	[QTY_REMAIN]  AS ([QTY_IN]-[QTY_OUT]),
	[QTY_WER] [float] NULL,
 CONSTRAINT [PK_T_ITEM_STORE] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_ITEM_TYPE]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_ITEM_TYPE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_ITEM_TYPE](
	[TYPE_CODE] [int] NOT NULL,
	[TYPE_NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_T_ITEM_TYPE] PRIMARY KEY CLUSTERED 
(
	[TYPE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_ITEMS]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_ITEMS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_ITEMS](
	[ITEM_CODE] [int] NOT NULL,
	[ITEM_NAME] [nvarchar](50) NULL,
	[CATEGORY_CODE] [int] NULL,
	[TYPE_CODE] [int] NULL,
	[COST] [float] NULL,
	[SELL] [float] NULL,
	[SORT] [int] NULL,
	[ACTIVE] [bit] NULL,
	[PRINTER_ID] [int] NULL,
	[ITEM_NOTE] [nvarchar](max) NULL,
	[IMG_URL] [nvarchar](max) NULL,
	[IMAGE] [image] NULL,
	[ITEM_NAME_EN] [nvarchar](max) NULL,
	[ITEM_NOTE_EN] [nvarchar](max) NULL,
	[TIME_USE] [nvarchar](max) NULL,
	[IS_STORE] [bit] NULL,
	[ITEM_BARCODE] [nvarchar](max) NULL,
	[SHOW_MENU] [bit] NULL,
	[MAIN_ITEM_CODE] [int] NULL,
	[QTY_PARENT] [float] NULL,
	[BACK_COLOR] [nvarchar](max) NULL,
	[FONT_COLOR] [nvarchar](max) NULL,
	[SELL_SALA] [float] NULL,
	[SELL_DELEVERY] [float] NULL,
	[SELL_APP] [float] NULL,
 CONSTRAINT [PK_T_ITEMS] PRIMARY KEY CLUSTERED 
(
	[ITEM_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_ITEMS_REPORT]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_ITEMS_REPORT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_ITEMS_REPORT](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[REPORT_CODE] [int] NULL,
	[ITEM_CODE] [int] NULL,
	[ITEM_NAME] [nvarchar](max) NULL,
	[REPORT_ITEM_ID] [nvarchar](max) NULL,
	[REPORT_ITEM_CODE] [nvarchar](max) NULL,
	[REPORT_ITEM_NAME] [nvarchar](max) NULL,
	[REPORT_ITEM_DISCREPTION] [nvarchar](max) NULL,
	[REPORT_ITEM_PRICE] [nvarchar](max) NULL,
	[REPORT_ITEM_CATEGORY] [nvarchar](max) NULL,
	[REPORT_ITEM_TYPE] [int] NULL,
 CONSTRAINT [PK_T_ITEMS_REPORT] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_IVC_TYPE]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_IVC_TYPE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_IVC_TYPE](
	[IVC_CODE] [int] NOT NULL,
	[IVC_NAME] [nvarchar](max) NULL,
 CONSTRAINT [PK_T_IVC_TYPE] PRIMARY KEY CLUSTERED 
(
	[IVC_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_LEVEL]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_LEVEL]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_LEVEL](
	[LEVEL_CODE] [int] NOT NULL,
	[LEVEL_NAME] [nvarchar](50) NULL,
	[LEVEL_ADD] [nvarchar](max) NULL,
	[MAIN_A] [bit] NULL,
	[MAIN_B] [bit] NULL,
	[MAIN_C] [bit] NULL,
	[MAIN_D] [bit] NULL,
	[MAIN_E] [bit] NULL,
	[MAIN_F] [bit] NULL,
	[MAIN_G] [bit] NULL,
	[MAIN_H] [bit] NULL,
	[MAIN_J] [bit] NULL,
	[MAIN_K] [bit] NULL,
	[MAIN_L] [bit] NULL,
	[MAIN_M] [bit] NULL,
	[MAIN_N] [bit] NULL,
	[MN_A1] [bit] NULL,
	[MN_A2] [bit] NULL,
	[MN_A3] [bit] NULL,
	[MN_A4] [int] NULL,
	[MN_A5] [bit] NULL,
	[MN_A6] [bit] NULL,
	[MN_A7] [bit] NULL,
	[MN_A8] [bit] NULL,
	[MN_A9] [bit] NULL,
	[MN_A10] [bit] NULL,
	[MN_A11] [bit] NULL,
	[MN_A12] [bit] NULL,
	[MN_A13] [bit] NULL,
	[MN_A14] [int] NULL,
	[MN_A15] [bit] NULL,
	[MN_A16] [bit] NULL,
	[MN_A17] [bit] NULL,
	[MN_A18] [bit] NULL,
	[MN_A19] [bit] NULL,
	[MN_A20] [bit] NULL,
	[MN_A21] [bit] NULL,
	[MN_A22] [bit] NULL,
	[MN_A23] [bit] NULL,
	[MN_A24] [bit] NULL,
	[MN_A25] [bit] NULL,
	[MN_A26] [bit] NULL,
	[MN_A27] [bit] NULL,
	[MN_A28] [bit] NULL,
	[MN_A29] [bit] NULL,
	[MN_A30] [bit] NULL,
	[MN_D1] [bit] NULL,
	[MN_D2] [bit] NULL,
	[MN_D3] [bit] NULL,
	[MN_D4] [bit] NULL,
	[MN_D5] [bit] NULL,
	[MN_D6] [bit] NULL,
	[MN_D7] [bit] NULL,
	[MN_D8] [bit] NULL,
	[MN_D9] [bit] NULL,
	[MN_D10] [bit] NULL,
	[MN_D11] [bit] NULL,
	[MN_D12] [bit] NULL,
	[MN_D13] [bit] NULL,
	[MN_D14] [bit] NULL,
	[MN_D15] [bit] NULL,
	[MN_F1] [bit] NULL,
	[MN_F2] [bit] NULL,
	[MN_F3] [bit] NULL,
	[MN_A11_1] [bit] NULL,
	[MN_A11_2] [bit] NULL,
 CONSTRAINT [PK_T_LEVEL] PRIMARY KEY CLUSTERED 
(
	[LEVEL_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_NOTFICATION_TITLE]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_NOTFICATION_TITLE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_NOTFICATION_TITLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATE] [datetime] NULL,
	[TITLE] [nvarchar](max) NULL,
	[DESCRPTIONS] [nvarchar](max) NULL,
	[STATUS] [int] NULL,
	[DEVICES_ID] [nvarchar](max) NULL,
 CONSTRAINT [PK_T_NOTFICATION_TITLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_NSR]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_NSR]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_NSR](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[S1] [int] NULL,
	[S2] [datetime] NULL,
	[S3] [nvarchar](max) NULL,
	[S4] [nvarchar](max) NULL,
	[S5] [nvarchar](max) NULL,
	[S_IMAGE] [image] NULL,
	[ACTIVE] [bit] NULL,
 CONSTRAINT [PK_T_NSR] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_PARAMETERS]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_PARAMETERS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_PARAMETERS](
	[P_CODE] [int] NOT NULL,
	[P_TYPE] [nvarchar](max) NULL,
	[P_VALUE] [decimal](18, 0) NULL,
	[P_DESC] [nvarchar](max) NULL,
 CONSTRAINT [PK_T_PARAMETERS] PRIMARY KEY CLUSTERED 
(
	[P_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_PRINTER]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_PRINTER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_PRINTER](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRINTER_NAME] [nvarchar](max) NULL,
	[DEVICE_NAME] [nvarchar](max) NULL,
	[IS_SCALE] [bit] NULL,
 CONSTRAINT [PK_T_PRINTER] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_QISM]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_QISM]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_QISM](
	[QISM_CODE] [int] NOT NULL,
	[QISM_NAME] [nvarchar](max) NULL,
	[TABLE_FROM] [int] NULL,
	[TABLE_TO] [int] NULL,
	[ACTIVE] [bit] NULL,
 CONSTRAINT [PK_T_QISM] PRIMARY KEY CLUSTERED 
(
	[QISM_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_RECIPIENTS]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_RECIPIENTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_RECIPIENTS](
	[RECIPIENT_CODE] [int] NOT NULL,
	[RECIPIENT_NAME] [nvarchar](max) NULL,
	[DISCOUNT_PERCENT] [float] NULL,
	[RECIPIENT_BARCODE] [nvarchar](max) NULL,
	[ACTIVE] [bit] NULL,
 CONSTRAINT [PK_T_RECIPIENTS] PRIMARY KEY CLUSTERED 
(
	[RECIPIENT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_REPORT_USER]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_REPORT_USER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_REPORT_USER](
	[T_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[D_DATE] [date] NULL,
	[USER_NAME] [nvarchar](50) NULL,
	[TOTAL_COST] [float] NULL,
	[TOTAL_SELL] [float] NULL,
	[TOTAL_ARBAH] [float] NULL,
 CONSTRAINT [PK_T_REPORT_USER] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_RETURN_SALES_NOTE]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_RETURN_SALES_NOTE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_RETURN_SALES_NOTE](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[INFO_NAME] [nvarchar](max) NULL,
 CONSTRAINT [PK_T_RETURN_SALES_NOTE] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_SALES]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_SALES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_SALES](
	[BILL_BRANCH] [nvarchar](50) NOT NULL,
	[BILL_NUMBER] [numeric](18, 0) NOT NULL,
	[BILL_ORDER] [numeric](18, 0) NULL,
	[BILL_DATE] [date] NULL,
	[BILL_TIME] [datetime] NULL,
	[TABLE_CODE] [int] NULL,
	[CALL_NO] [nvarchar](max) NULL,
	[INVOICE_CODE] [int] NULL,
	[CLIENT_NAME] [nvarchar](max) NULL,
	[CLIENT_REGION] [nvarchar](max) NULL,
	[CLIENT_PHONE] [nvarchar](max) NULL,
	[CLIENT_ADDRESS] [nvarchar](max) NULL,
	[DRIVER_NAME] [nvarchar](max) NULL,
	[WORK_CODE] [int] NULL,
	[USER_CODE] [int] NULL,
	[TOT_QTY] [float] NULL,
	[TOT_COST] [float] NULL,
	[TOT_SELL] [float] NULL,
	[DISCOUNT_SELL] [float] NULL,
	[SERVICE_SELL] [float] NULL,
	[NET_SALES] [float] NULL,
	[APP_CODE] [int] NULL,
	[APP_PERCENT] [float] NULL,
	[NET_NET_SALES] [float] NULL,
	[NET_ARBAH] [float] NULL,
	[NOTE] [nvarchar](max) NULL,
	[IS_TRANS] [bit] NULL,
	[COMPANY_NAME] [nvarchar](max) NULL,
	[TT_SEND] [datetime] NULL,
	[TT_RECIVE] [datetime] NULL,
	[TT_PRINT] [datetime] NULL,
	[TT_CASH] [datetime] NULL,
	[CAPTAIN_NAME] [nvarchar](50) NULL,
	[KITCHEN_NOTE] [nvarchar](200) NULL,
	[LIN_X] [nvarchar](max) NULL,
	[LIN_Y] [nvarchar](max) NULL,
	[NAME_BRANCH] [nvarchar](max) NULL,
	[BILL_SERVER] [int] NULL,
	[STATUS_APP] [int] NULL,
	[KITCHEN_DISPLAY_STATE] [int] NULL,
	[KITCHEN_DISPALY_MIN] [nvarchar](max) NULL,
	[CLIENT_CODE] [int] NULL,
	[IVC_CODE] [int] NULL,
	[IS_CASH] [int] NULL,
	[NO_CLIENT] [int] NULL,
	[DISCOUNT_NOTE] [nvarchar](max) NULL,
	[RECIPIENT_CODE] [int] NULL,
	[TIME_ACCEPT] [datetime] NULL,
	[TIME_ARRIVED] [datetime] NULL,
	[ALL_TIME]  AS ((CONVERT([varchar](3),datediff(minute,[TIME_ACCEPT],[TIME_ARRIVED])/(60))+':')+right('0'+CONVERT([varchar](2),datediff(minute,[TIME_ACCEPT],[TIME_ARRIVED])%(60)),(2))),
	[IS_DELEVERED_DRIVER] [int] NULL,
	[TO_DRIVER_TIME] [datetime] NULL,
	[TO_DELEVERD_TIME] [datetime] NULL,
	[TO_CASH_TIME] [datetime] NULL,
	[TO_CALL_TIME] [datetime] NULL,
	[PREPARE_MINUTES]  AS ((CONVERT([varchar](3),datediff(minute,[TO_DRIVER_TIME],[TO_DRIVER_TIME])/(60))+':')+right('0'+CONVERT([varchar](2),datediff(minute,[TO_DRIVER_TIME],[TO_DRIVER_TIME])%(60)),(2))),
	[DELEVERD_MINUTES]  AS ((CONVERT([varchar](3),datediff(minute,[TO_DRIVER_TIME],[TO_DELEVERD_TIME])/(60))+':')+right('0'+CONVERT([varchar](2),datediff(minute,[TO_DRIVER_TIME],[TO_DELEVERD_TIME])%(60)),(2))),
 CONSTRAINT [PK_T_SALES_1] PRIMARY KEY CLUSTERED 
(
	[BILL_BRANCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_SALES_DETAILS]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_SALES_DETAILS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_SALES_DETAILS](
	[T_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[BILL_BRANCH] [nvarchar](50) NULL,
	[BILL_NUMBER] [numeric](18, 0) NULL,
	[BILL_ORDER] [numeric](18, 0) NULL,
	[BILL_DATE] [date] NULL,
	[BILL_TIME] [datetime] NULL,
	[ITEM_CODE] [int] NULL,
	[QTY] [float] NULL,
	[COST] [float] NULL,
	[SELL] [float] NULL,
	[TOTAL]  AS ([SELL]*[QTY]),
	[TOTAL_COST]  AS ([COST]*[QTY]),
	[ARBAH]  AS ([SELL]*[QTY]-[COST]*[QTY]),
	[WORK_CODE] [int] NULL,
	[USER_CODE] [int] NULL,
	[IS_TRANS] [bit] NULL,
	[COMPANY_NAME] [nvarchar](max) NULL,
 CONSTRAINT [PK_T_SALES_DETAILS] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_SALES_DETAILS_HISTORY]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_SALES_DETAILS_HISTORY]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_SALES_DETAILS_HISTORY](
	[T_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[BILL_BRANCH] [nvarchar](50) NULL,
	[BILL_NUMBER] [numeric](18, 0) NULL,
	[BILL_ORDER] [numeric](18, 0) NULL,
	[BILL_DATE] [date] NULL,
	[BILL_TIME] [datetime] NULL,
	[ITEM_CODE] [int] NULL,
	[QTY] [float] NULL,
	[COST] [float] NULL,
	[SELL] [float] NULL,
	[TOTAL]  AS ([SELL]*[QTY]),
	[TOTAL_COST]  AS ([COST]*[QTY]),
	[ARBAH]  AS ([SELL]*[QTY]-[COST]*[QTY]),
	[WORK_CODE] [int] NULL,
	[USER_CODE] [int] NULL,
	[IS_TRANS] [bit] NULL,
	[COMPANY_NAME] [nvarchar](max) NULL,
 CONSTRAINT [PK_T_SALES_DETAILS_HISTORY] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_SALES_DETAILS_R]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_SALES_DETAILS_R]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_SALES_DETAILS_R](
	[T_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[BILL_BRANCH] [nvarchar](50) NULL,
	[BILL_NUMBER] [numeric](18, 0) NULL,
	[BILL_ORDER] [numeric](18, 0) NULL,
	[BILL_DATE] [date] NULL,
	[BILL_TIME] [datetime] NULL,
	[ITEM_CODE] [int] NULL,
	[QTY] [float] NULL,
	[COST] [float] NULL,
	[SELL] [float] NULL,
	[TOTAL]  AS ([SELL]*[QTY]),
	[TOTAL_COST]  AS ([COST]*[QTY]),
	[ARBAH]  AS ([SELL]*[QTY]-[COST]*[QTY]),
	[WORK_CODE] [int] NULL,
	[USER_CODE] [int] NULL,
	[IS_TRANS] [bit] NULL,
	[COMPANY_NAME] [nvarchar](max) NULL,
 CONSTRAINT [PK_T_SALES_DETAILS_R] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_SALES_DETAILS_RETURN]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_SALES_DETAILS_RETURN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_SALES_DETAILS_RETURN](
	[T_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[BILL_BRANCH] [nvarchar](50) NULL,
	[BILL_NUMBER] [numeric](18, 0) NULL,
	[BILL_ORDER] [numeric](18, 0) NULL,
	[BILL_DATE] [date] NULL,
	[BILL_TIME] [datetime] NULL,
	[ITEM_CODE] [int] NULL,
	[QTY] [float] NULL,
	[COST] [float] NULL,
	[SELL] [float] NULL,
	[TOTAL]  AS ([SELL]*[QTY]),
	[TOTAL_COST]  AS ([COST]*[QTY]),
	[ARBAH]  AS ([SELL]*[QTY]-[COST]*[QTY]),
	[WORK_CODE] [int] NULL,
	[USER_CODE] [int] NULL,
	[IS_TRANS] [bit] NULL,
	[COMPANY_NAME] [nvarchar](max) NULL,
 CONSTRAINT [PK_T_SALES_DETAILS_RETURN] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_SALES_HISTORY]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_SALES_HISTORY]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_SALES_HISTORY](
	[BILL_BRANCH] [nvarchar](50) NULL,
	[BILL_NUMBER] [numeric](18, 0) NOT NULL,
	[BILL_ORDER] [numeric](18, 0) NULL,
	[BILL_DATE] [date] NULL,
	[BILL_TIME] [datetime] NULL,
	[TABLE_CODE] [int] NULL,
	[CALL_NO] [nvarchar](max) NULL,
	[INVOICE_CODE] [int] NULL,
	[CLIENT_NAME] [nvarchar](max) NULL,
	[CLIENT_REGION] [nvarchar](max) NULL,
	[CLIENT_PHONE] [nvarchar](max) NULL,
	[CLIENT_ADDRESS] [nvarchar](max) NULL,
	[DRIVER_NAME] [nvarchar](max) NULL,
	[WORK_CODE] [int] NULL,
	[USER_CODE] [int] NULL,
	[TOT_QTY] [float] NULL,
	[TOT_COST] [float] NULL,
	[TOT_SELL] [float] NULL,
	[DISCOUNT_SELL] [float] NULL,
	[SERVICE_SELL] [float] NULL,
	[NET_SALES] [float] NULL,
	[APP_CODE] [int] NULL,
	[APP_PERCENT] [float] NULL,
	[NET_NET_SALES] [float] NULL,
	[NET_ARBAH] [float] NULL,
	[NOTE] [nvarchar](max) NULL,
	[IS_TRANS] [bit] NULL,
	[COMPANY_NAME] [nvarchar](max) NULL,
	[TT_SEND] [datetime] NULL,
	[TT_RECIVE] [datetime] NULL,
	[TT_PRINT] [datetime] NULL,
	[TT_CASH] [datetime] NULL,
	[CAPTAIN_NAME] [nvarchar](50) NULL,
	[KITCHEN_NOTE] [nvarchar](200) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_SALES_R]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_SALES_R]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_SALES_R](
	[T_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[BILL_BRANCH] [nvarchar](50) NOT NULL,
	[BILL_NUMBER] [numeric](18, 0) NOT NULL,
	[BILL_ORDER] [numeric](18, 0) NULL,
	[BILL_DATE] [date] NULL,
	[BILL_TIME] [datetime] NULL,
	[TABLE_CODE] [int] NULL,
	[CALL_NO] [nvarchar](max) NULL,
	[INVOICE_CODE] [int] NULL,
	[CLIENT_NAME] [nvarchar](max) NULL,
	[CLIENT_REGION] [nvarchar](max) NULL,
	[CLIENT_PHONE] [nvarchar](max) NULL,
	[CLIENT_ADDRESS] [nvarchar](max) NULL,
	[DRIVER_NAME] [nvarchar](max) NULL,
	[WORK_CODE] [int] NULL,
	[USER_CODE] [int] NULL,
	[TOT_QTY] [float] NULL,
	[TOT_COST] [float] NULL,
	[TOT_SELL] [float] NULL,
	[DISCOUNT_SELL] [float] NULL,
	[SERVICE_SELL] [float] NULL,
	[NET_SALES] [float] NULL,
	[APP_CODE] [int] NULL,
	[APP_PERCENT] [float] NULL,
	[NET_NET_SALES] [float] NULL,
	[NET_ARBAH] [float] NULL,
	[NOTE] [nvarchar](max) NULL,
	[IS_TRANS] [bit] NULL,
	[COMPANY_NAME] [nvarchar](max) NULL,
	[TT_SEND] [datetime] NULL,
	[TT_RECIVE] [datetime] NULL,
	[TT_PRINT] [datetime] NULL,
	[TT_CASH] [datetime] NULL,
	[CAPTAIN_NAME] [nvarchar](50) NULL,
	[KITCHEN_NOTE] [nvarchar](200) NULL,
 CONSTRAINT [PK_T_SALES_R] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_SALES_TABLE]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_SALES_TABLE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_SALES_TABLE](
	[T_ID] [int] NOT NULL,
	[BILL_ID] [nvarchar](max) NULL,
	[BILL_TA] [nvarchar](max) NULL,
	[DESCRIPTION] [int] NULL,
	[ACTIVE] [bit] NULL,
	[C_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_SALES_TABLE] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_SALES_TEMP]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_SALES_TEMP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_SALES_TEMP](
	[T_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[BILL_BRANCH] [nvarchar](50) NULL,
	[BILL_NUMBER] [numeric](18, 0) NULL,
	[BILL_ORDER] [numeric](18, 0) NULL,
	[BILL_DATE] [date] NULL,
	[BILL_TIME] [datetime] NULL,
	[ITEM_CODE] [int] NULL,
	[QTY] [float] NULL,
	[COST] [float] NULL,
	[SELL] [float] NULL,
	[TOTAL]  AS ([SELL]*[QTY]),
	[TOTAL_COST]  AS ([COST]*[QTY]),
	[ARBAH]  AS ([SELL]*[QTY]-[COST]*[QTY]),
	[WORK_CODE] [int] NULL,
	[USER_CODE] [int] NULL,
	[ITEM_NOTE] [nvarchar](max) NULL,
	[IS_PRINT] [int] NULL,
	[IS_DELETE] [int] NULL,
	[SEQ] [int] NULL,
 CONSTRAINT [PK_T_SALES_TEMP] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_SERVER_MAIN]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_SERVER_MAIN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_SERVER_MAIN](
	[T_ID] [int] NOT NULL,
	[IP_NAME] [nvarchar](max) NULL,
	[SERVER_NAME] [nvarchar](max) NULL,
	[USER_NAME] [nvarchar](max) NULL,
	[USER_PASSWORD] [nvarchar](max) NULL,
	[DATABASE_NAME] [nvarchar](max) NULL,
 CONSTRAINT [PK_T_SERVER_MAIN] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_SERVICE]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_SERVICE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_SERVICE](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[SERVICE_PRICENT] [float] NULL,
	[SERVICE_AMOUNT] [float] NULL,
 CONSTRAINT [PK_T_SERVICE] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_SETTING]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_SETTING]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_SETTING](
	[PC_NAME] [nvarchar](max) NOT NULL,
	[RONGTA_IP_ADDRESS] [nvarchar](max) NULL,
	[RONGTA_WEIGHT_DIRECT] [bit] NULL,
	[RONGTA_SCALE_ON] [bit] NULL,
	[SHOW_TOTAL] [bit] NULL,
	[Path_report] [nvarchar](max) NULL,
	[printer_name] [nvarchar](max) NULL,
	[flag_print] [bit] NULL,
	[MSG_SAVE] [bit] NULL,
	[FLAG_EDIT] [bit] NULL,
	[Path_report_ITEMS] [nvarchar](max) NULL,
	[Path_report_USERS] [nvarchar](max) NULL,
	[PORT_NAME] [nvarchar](max) NULL,
	[CUSTOMER_DISPLAY] [bit] NULL,
	[IS_PRINT_KITCHEN_ALL] [bit] NULL,
	[PRINTER_NAME_KITCHEN_ALL] [nvarchar](max) NULL,
	[Path_report_KITCHEN_ALL] [nvarchar](max) NULL,
	[Path_report_KITCHEN_PRINTER] [nvarchar](max) NULL,
	[IS_PRINT_KETCHEN] [bit] NULL,
	[DATABASE_NAME] [nvarchar](max) NULL,
	[IS_CALL_NO] [bit] NULL,
	[DF_INVOICE_CODE] [int] NULL,
	[Path_report_SAFARY] [nvarchar](max) NULL,
	[SKIN_NAME] [nvarchar](max) NULL,
	[IS_GEFT] [bit] NULL,
	[IS_SIP] [bit] NULL,
	[SKIN_POLLETE] [nvarchar](max) NULL,
	[IS_CAPTAIN] [bit] NULL,
	[IS_FORM_CASH] [bit] NULL,
	[IS_LAST_WAIT] [bit] NULL,
	[IS_CALL_NO_SALA] [bit] NULL,
	[KEY_BARCODE] [nvarchar](max) NULL,
	[SALES_BARCODE] [bit] NULL,
	[SAVE_SETTING_DATE] [bit] NULL,
	[ROUND_250] [bit] NULL,
	[PRINTER_NAME_DELEVERY] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_SETTING_NEW]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_SETTING_NEW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_SETTING_NEW](
	[PC_NAME] [nvarchar](max) NOT NULL,
	[SETTINGS] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_SIP_PHONE]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_SIP_PHONE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_SIP_PHONE](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[PHONE_NO] [nvarchar](50) NULL,
	[D_DATE] [date] NULL,
	[D_TIME] [datetime] NULL,
	[USER_CODE] [int] NULL,
	[ACTIVE] [bit] NULL,
 CONSTRAINT [PK_T_SIP_PHONE] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_SORT]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_SORT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_SORT](
	[T_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CODE] [int] NOT NULL,
	[NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_T_SORT] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_TABLE]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_TABLE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_TABLE](
	[TABLE_CODE] [int] NOT NULL,
	[QISM_CODE] [int] NULL,
	[TABLE_NO] [nvarchar](50) NULL,
	[TABLE_NAME] [nvarchar](50) NULL,
	[TABLE_NOTE] [nvarchar](max) NULL,
	[NO_CLIENT] [int] NULL,
	[IS_OPEN] [int] NULL,
	[START_TIME] [datetime] NULL,
	[DIFF_TIME]  AS (datediff(minute,[START_TIME],getdate())),
	[USER_CODE] [int] NULL,
	[IS_ENTRY] [bit] NULL,
	[USER_ENTRY] [nvarchar](max) NULL,
 CONSTRAINT [PK_T_TABLE] PRIMARY KEY CLUSTERED 
(
	[TABLE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_USER_DETAILS]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_USER_DETAILS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_USER_DETAILS](
	[T_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[JOB_DATE] [date] NULL,
	[D_DATE] [date] NULL,
	[D_TIME] [datetime] NULL,
	[USER_NAME] [nvarchar](50) NULL,
	[SCREEN_NAME] [nvarchar](50) NULL,
	[PROCCESS_TYPE] [nvarchar](50) NULL,
	[BILL_NUMBER] [numeric](18, 0) NULL,
	[BILL_BRANCH] [int] NULL,
	[AMO] [float] NULL,
	[NOTE] [nvarchar](max) NULL,
	[IS_CHECKED] [bit] NULL,
 CONSTRAINT [PK_T_USER_DETAILS] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_USERS]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_USERS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_USERS](
	[USER_CODE] [int] NOT NULL,
	[USER_NAME] [nvarchar](max) NOT NULL,
	[USER_PWD] [nvarchar](max) NULL,
	[LEVEL_CODE] [int] NULL,
	[ACTIVE] [bit] NULL,
	[LOG_IN] [bit] NULL,
	[IS_ENC] [bit] NULL,
	[APP_PWD] [nvarchar](max) NULL,
 CONSTRAINT [PK_T_USERS] PRIMARY KEY CLUSTERED 
(
	[USER_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_VERSION]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_VERSION]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_VERSION](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[V_NO] [nvarchar](50) NULL,
	[C_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_VERSION] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_VERSION_DATA]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_VERSION_DATA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_VERSION_DATA](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[V_NO] [nvarchar](max) NULL,
	[C_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_VERSION_DATA] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_VERSION_NEW]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_VERSION_NEW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_VERSION_NEW](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[V_NO] [nvarchar](50) NULL,
	[C_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_VERSION_NEW] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[T_WORK_JOB]    Script Date: 2024/09/05 12:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_WORK_JOB]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[T_WORK_JOB](
	[T_ID] [int] NOT NULL,
	[D_DATE] [date] NULL,
	[START_DATE] [datetime] NULL,
	[IS_ON_OFF] [bit] NULL,
 CONSTRAINT [PK_T_WORK_JOB] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_APP_CALL_CENTER_C_DATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_APP_CALL_CENTER] ADD  CONSTRAINT [DF_T_APP_CALL_CENTER_C_DATE]  DEFAULT (getdate()) FOR [C_DATE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_APP_CLIENT_C_DATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_APP_CLIENT] ADD  CONSTRAINT [DF_T_APP_CLIENT_C_DATE]  DEFAULT (getdate()) FOR [C_DATE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_APP_SAFARY_C_DATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_APP_SAFARY] ADD  CONSTRAINT [DF_T_APP_SAFARY_C_DATE]  DEFAULT (getdate()) FOR [C_DATE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_APP_TABLE_C_DATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_APP_TABLE] ADD  CONSTRAINT [DF_T_APP_TABLE_C_DATE]  DEFAULT (getdate()) FOR [C_DATE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_DRIVER_ACTIVE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_DRIVER] ADD  CONSTRAINT [DF_T_DRIVER_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_DRIVER_TRACKING_D_DATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_DRIVER_TRACKING] ADD  CONSTRAINT [DF_T_DRIVER_TRACKING_D_DATE]  DEFAULT (getdate()) FOR [D_DATE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_EMP_ENTER_IS_PAID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_EMP_ENTER] ADD  CONSTRAINT [DF_T_EMP_ENTER_IS_PAID]  DEFAULT ((0)) FOR [IS_PAID]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_ERADAT_IS_TRANS]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_ERADAT] ADD  CONSTRAINT [DF_T_ERADAT_IS_TRANS]  DEFAULT ((0)) FOR [IS_TRANS]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_EXPENSES_IS_TRANS]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_EXPENSES] ADD  CONSTRAINT [DF_T_EXPENSES_IS_TRANS]  DEFAULT ((0)) FOR [IS_TRANS]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_FDB_D_DATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_FDB] ADD  CONSTRAINT [DF_T_FDB_D_DATE]  DEFAULT (getdate()) FOR [D_DATE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_ITEM_CATEGORY_SHOW_MENU]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_ITEM_CATEGORY] ADD  CONSTRAINT [DF_T_ITEM_CATEGORY_SHOW_MENU]  DEFAULT ((0)) FOR [SHOW_MENU]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_ITEM_STORE_QTY_IN]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_ITEM_STORE] ADD  CONSTRAINT [DF_T_ITEM_STORE_QTY_IN]  DEFAULT ((0)) FOR [QTY_IN]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_ITEM_STORE_QTY_OUT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_ITEM_STORE] ADD  CONSTRAINT [DF_T_ITEM_STORE_QTY_OUT]  DEFAULT ((0)) FOR [QTY_OUT]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_ITEM_STORE_QTY_WER]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_ITEM_STORE] ADD  CONSTRAINT [DF_T_ITEM_STORE_QTY_WER]  DEFAULT ((0)) FOR [QTY_WER]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_ITEMS_IS_STORE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_ITEMS] ADD  CONSTRAINT [DF_T_ITEMS_IS_STORE]  DEFAULT ((1)) FOR [IS_STORE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_ITEMS_SHOW_MENU]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_ITEMS] ADD  CONSTRAINT [DF_T_ITEMS_SHOW_MENU]  DEFAULT ((0)) FOR [SHOW_MENU]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MAIN_A]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MAIN_A]  DEFAULT ((0)) FOR [MAIN_A]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MAIN_B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MAIN_B]  DEFAULT ((0)) FOR [MAIN_B]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MAIN_C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MAIN_C]  DEFAULT ((0)) FOR [MAIN_C]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MAIN_D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MAIN_D]  DEFAULT ((0)) FOR [MAIN_D]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MAIN_E]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MAIN_E]  DEFAULT ((0)) FOR [MAIN_E]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MAIN_F]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MAIN_F]  DEFAULT ((0)) FOR [MAIN_F]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MAIN_G]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MAIN_G]  DEFAULT ((0)) FOR [MAIN_G]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MAIN_H]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MAIN_H]  DEFAULT ((0)) FOR [MAIN_H]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MAIN_J]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MAIN_J]  DEFAULT ((0)) FOR [MAIN_J]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MAIN_K]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MAIN_K]  DEFAULT ((0)) FOR [MAIN_K]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MAIN_L]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MAIN_L]  DEFAULT ((0)) FOR [MAIN_L]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MAIN_M]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MAIN_M]  DEFAULT ((0)) FOR [MAIN_M]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MAIN_M1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MAIN_M1]  DEFAULT ((0)) FOR [MAIN_N]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A1]  DEFAULT ((0)) FOR [MN_A1]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A11]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A11]  DEFAULT ((0)) FOR [MN_A2]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A11_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A11_1]  DEFAULT ((0)) FOR [MN_A3]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A31]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A31]  DEFAULT ((1)) FOR [MN_A4]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A31_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A31_1]  DEFAULT ((0)) FOR [MN_A5]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A31_2]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A31_2]  DEFAULT ((0)) FOR [MN_A6]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A31_3]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A31_3]  DEFAULT ((0)) FOR [MN_A7]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A31_4]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A31_4]  DEFAULT ((0)) FOR [MN_A8]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A31_5]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A31_5]  DEFAULT ((0)) FOR [MN_A9]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A31_6]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A31_6]  DEFAULT ((0)) FOR [MN_A10]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A81]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A81]  DEFAULT ((0)) FOR [MN_A11]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A91]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A91]  DEFAULT ((0)) FOR [MN_A12]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A101]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A101]  DEFAULT ((0)) FOR [MN_A13]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A81_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A81_1]  DEFAULT ((0)) FOR [MN_A14]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A91_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A91_1]  DEFAULT ((0)) FOR [MN_A15]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A101_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A101_1]  DEFAULT ((0)) FOR [MN_A16]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A81_2]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A81_2]  DEFAULT ((0)) FOR [MN_A17]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A91_2]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A91_2]  DEFAULT ((0)) FOR [MN_A18]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A101_2]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A101_2]  DEFAULT ((0)) FOR [MN_A19]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A191]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A191]  DEFAULT ((0)) FOR [MN_A20]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A161]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A161]  DEFAULT ((0)) FOR [MN_A21]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A171]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A171]  DEFAULT ((0)) FOR [MN_A22]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A181]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A181]  DEFAULT ((0)) FOR [MN_A23]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A191_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A191_1]  DEFAULT ((0)) FOR [MN_A24]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A201]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A201]  DEFAULT ((0)) FOR [MN_A25]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A221]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A221]  DEFAULT ((0)) FOR [MN_A26]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A231]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A231]  DEFAULT ((0)) FOR [MN_A27]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A241]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A241]  DEFAULT ((0)) FOR [MN_A28]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A251]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A251]  DEFAULT ((0)) FOR [MN_A29]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A291]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A291]  DEFAULT ((0)) FOR [MN_A30]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_A301]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_A301]  DEFAULT ((0)) FOR [MN_D1]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_D11]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_D11]  DEFAULT ((0)) FOR [MN_D2]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_D12]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_D12]  DEFAULT ((0)) FOR [MN_D3]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_D13]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_D13]  DEFAULT ((0)) FOR [MN_D4]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_D11_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_D11_1]  DEFAULT ((0)) FOR [MN_D5]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_D11_2]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_D11_2]  DEFAULT ((0)) FOR [MN_D6]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_D21]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_D21]  DEFAULT ((0)) FOR [MN_D7]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_D31]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_D31]  DEFAULT ((0)) FOR [MN_D8]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_D41]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_D41]  DEFAULT ((0)) FOR [MN_D9]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_D51]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_D51]  DEFAULT ((0)) FOR [MN_D10]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_D11_3]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_D11_3]  DEFAULT ((0)) FOR [MN_D11]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_D21_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_D21_1]  DEFAULT ((0)) FOR [MN_D12]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_D31_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_D31_1]  DEFAULT ((0)) FOR [MN_D13]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_D41_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_D41_1]  DEFAULT ((0)) FOR [MN_D14]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_D51_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_D51_1]  DEFAULT ((0)) FOR [MN_D15]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_D151]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_D151]  DEFAULT ((0)) FOR [MN_F1]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_D152]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_D152]  DEFAULT ((0)) FOR [MN_F2]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_LEVEL_MN_D153]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_LEVEL] ADD  CONSTRAINT [DF_T_LEVEL_MN_D153]  DEFAULT ((0)) FOR [MN_F3]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_SALES_IS_TRANS]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_SALES] ADD  CONSTRAINT [DF_T_SALES_IS_TRANS]  DEFAULT ((0)) FOR [IS_TRANS]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_SALES_CLIENT_CODE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_SALES] ADD  CONSTRAINT [DF_T_SALES_CLIENT_CODE]  DEFAULT ((0)) FOR [CLIENT_CODE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_SALES_IVC_CODE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_SALES] ADD  CONSTRAINT [DF_T_SALES_IVC_CODE]  DEFAULT ((0)) FOR [IVC_CODE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_SALES_IS_CASH]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_SALES] ADD  CONSTRAINT [DF_T_SALES_IS_CASH]  DEFAULT ((1)) FOR [IS_CASH]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_SALES_NO_CLIENT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_SALES] ADD  CONSTRAINT [DF_T_SALES_NO_CLIENT]  DEFAULT ((0)) FOR [NO_CLIENT]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_SALES_IS_DELEVERED_DRIVER]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_SALES] ADD  CONSTRAINT [DF_T_SALES_IS_DELEVERED_DRIVER]  DEFAULT ((0)) FOR [IS_DELEVERED_DRIVER]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_SALES_TO_CALL_TIME]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_SALES] ADD  CONSTRAINT [DF_T_SALES_TO_CALL_TIME]  DEFAULT (getdate()) FOR [TO_CALL_TIME]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_SALES_DETAILS_BILL_TIME]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_SALES_DETAILS] ADD  CONSTRAINT [DF_T_SALES_DETAILS_BILL_TIME]  DEFAULT (getdate()) FOR [BILL_TIME]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_SALES_DETAILS_IS_TRANS]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_SALES_DETAILS] ADD  CONSTRAINT [DF_T_SALES_DETAILS_IS_TRANS]  DEFAULT ((0)) FOR [IS_TRANS]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_SALES_DETAILS_R_BILL_TIME]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_SALES_DETAILS_R] ADD  CONSTRAINT [DF_T_SALES_DETAILS_R_BILL_TIME]  DEFAULT (getdate()) FOR [BILL_TIME]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_SALES_DETAILS_R_IS_TRANS]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_SALES_DETAILS_R] ADD  CONSTRAINT [DF_T_SALES_DETAILS_R_IS_TRANS]  DEFAULT ((0)) FOR [IS_TRANS]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_SALES_DETAILS_RETURN_BILL_TIME]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_SALES_DETAILS_RETURN] ADD  CONSTRAINT [DF_T_SALES_DETAILS_RETURN_BILL_TIME]  DEFAULT (getdate()) FOR [BILL_TIME]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_SALES_DETAILS_RETURN_IS_TRANS]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_SALES_DETAILS_RETURN] ADD  CONSTRAINT [DF_T_SALES_DETAILS_RETURN_IS_TRANS]  DEFAULT ((0)) FOR [IS_TRANS]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_SALES_HISTORY_IS_TRANS]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_SALES_HISTORY] ADD  CONSTRAINT [DF_T_SALES_HISTORY_IS_TRANS]  DEFAULT ((0)) FOR [IS_TRANS]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_SALES_R_IS_TRANS]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_SALES_R] ADD  CONSTRAINT [DF_T_SALES_R_IS_TRANS]  DEFAULT ((0)) FOR [IS_TRANS]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_SALES_TABLE_ACTIVE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_SALES_TABLE] ADD  CONSTRAINT [DF_T_SALES_TABLE_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_SALES_TABLE_C_DATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_SALES_TABLE] ADD  CONSTRAINT [DF_T_SALES_TABLE_C_DATE]  DEFAULT (getdate()) FOR [C_DATE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_SALES_TEMP_BILL_TIME]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_SALES_TEMP] ADD  CONSTRAINT [DF_T_SALES_TEMP_BILL_TIME]  DEFAULT (getdate()) FOR [BILL_TIME]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_SALES_TEMP_IS_PRINT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_SALES_TEMP] ADD  CONSTRAINT [DF_T_SALES_TEMP_IS_PRINT]  DEFAULT ((0)) FOR [IS_PRINT]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_SALES_TEMP_IS_DELETE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_SALES_TEMP] ADD  CONSTRAINT [DF_T_SALES_TEMP_IS_DELETE]  DEFAULT ((0)) FOR [IS_DELETE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_SALES_TEMP_SEQ]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_SALES_TEMP] ADD  CONSTRAINT [DF_T_SALES_TEMP_SEQ]  DEFAULT ((0)) FOR [SEQ]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_TABLE_IS_OPEN]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_TABLE] ADD  CONSTRAINT [DF_T_TABLE_IS_OPEN]  DEFAULT ((0)) FOR [IS_OPEN]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_USER_DETAILS_IS_CHECKED]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_USER_DETAILS] ADD  CONSTRAINT [DF_T_USER_DETAILS_IS_CHECKED]  DEFAULT ((0)) FOR [IS_CHECKED]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_USERS_LOG_IN]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_USERS] ADD  CONSTRAINT [DF_T_USERS_LOG_IN]  DEFAULT ((0)) FOR [LOG_IN]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_USERS_IS_ENC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_USERS] ADD  CONSTRAINT [DF_T_USERS_IS_ENC]  DEFAULT ((1)) FOR [IS_ENC]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_VERSION_C_DATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_VERSION] ADD  CONSTRAINT [DF_T_VERSION_C_DATE]  DEFAULT (getdate()) FOR [C_DATE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_VERSION_DATA_C_DATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_VERSION_DATA] ADD  CONSTRAINT [DF_T_VERSION_DATA_C_DATE]  DEFAULT (getdate()) FOR [C_DATE]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_T_VERSION_NEW_C_DATE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[T_VERSION_NEW] ADD  CONSTRAINT [DF_T_VERSION_NEW_C_DATE]  DEFAULT (getdate()) FOR [C_DATE]
END

GO
