<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RedisConfig" type="EtierSoft.AdapterSDK.Redis.RedisConfigInfo, EtierSoft.AdapterSDK" />
    <section name="YunAttConfig" type="EtierSoft.AdapterSDK.Config.YunAttConfig, EtierSoft.AdapterSDK" />
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SPEEDOO_APP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <RedisConfig WriteServerList="127.0.0.1:6379" ReadServerList="127.0.0.1:6379" MaxWritePoolSize="10000" MaxReadPoolSize="10000" DB="1" AutoStart="true" LocalCacheTime="180" RecordeLog="false"></RedisConfig>
  <appSettings>
    <add key="ServiceName" value="SupperSocketService" />
    <add key="Finger" value="ZK" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <superSocket>
    <servers>
      <server name="SecureSuperWebSocket" serverTypeName="SuperWebSocket" ip="Any" port="7788" mode="Tcp" minWorkingThreads="50" maxWorkingThreads="5000" maxCompletionPortThreads="10000" minCompletionPortThreads="1000" listenBacklog="10000" maxConnectionNumber="100000" maxRequestLength="2048000"></server>
    </servers>
    <serverTypes>
      <add name="SuperWebSocket" type="SuperWebSocket.WebSocketServer, SuperWebSocket" />
    </serverTypes>
  </superSocket>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="SocketTrace" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="SocketTrace" type="System.Diagnostics.TextWriterTraceListener" initializeData="System.Net.Trace.log" />
    </sharedListeners>
    <switches>
      <add name="System.Net.Sockets" value="Verbose" />
    </switches>
  </system.diagnostics>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <connectionStrings>
    <add name="SPEEDOO_APP.My.MySettings.SPEEDOO_DBConnectionString"
      connectionString="Data Source=127.0.0.1,1919;Initial Catalog=SPEEDOO_DB;User ID=sa;Password=12345;Connect Timeout=600;"
      providerName="System.Data.SqlClient" />
    <add name="configmngr" connectionString="Data Source=.\SALES_DEV;Initial Catalog=SPEEDOO_DB;User ID=sa;Password=12345"
      providerName="System.Data.SqlClient" />
    <add name="Connectionssssssssssssssssssssssssssss" connectionString="XpoProvider=MSSqlServer;data source=4.2.2.242,1919;user id=sa;password=12345;initial catalog=SPEEDOO_DB;Persist Security Info=true" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <SPEEDOO_APP.My.MySettings>
      <setting name="RONGTA_IP_ADDRESS" serializeAs="String">
        <value>192.168.1.87</value>
      </setting>
      <setting name="RONGTA_WEIGHT_DIRECT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RONGTA_SCALE_ON" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PRINTER_NAME" serializeAs="String">
        <value />
      </setting>
      <setting name="PORT_NAME" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="CUSTOMER_DISPLAY" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DATABASE_NAME" serializeAs="String">
        <value>SPEEDOO_DB</value>
      </setting>
      <setting name="SKIN_NAME" serializeAs="String">
        <value>Metropolis</value>
      </setting>
      <setting name="SKIN_POLLETE" serializeAs="String">
        <value />
      </setting>
      <setting name="IS_LAST_WAIT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KEY_BARCODE" serializeAs="String">
        <value>27</value>
      </setting>
      <setting name="ROUND_250" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="D_START_DATE" serializeAs="String">
        <value>2025-01-01</value>
      </setting>
      <setting name="D_END_DATE" serializeAs="String">
        <value>2030-01-01</value>
      </setting>
      <setting name="SHOW_SANAD_AKSAT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AKSAT_NEXT_OR_LAST" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DIRECT_PRINT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_PRINT_STORE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="REPORT_INVOICE_DEFOULT" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="REPORT_NAME_A4" serializeAs="String">
        <value>rpt_sales_invoice_A4</value>
      </setting>
      <setting name="REPORT_NAME_STORE_A4" serializeAs="String">
        <value>rpt_sales_invoice_store_A4</value>
      </setting>
      <setting name="COL_COST_DF" serializeAs="String">
        <value>PRICE_COST</value>
      </setting>
      <setting name="NEW_BILL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PRINTER_NAME_STORE" serializeAs="String">
        <value />
      </setting>
      <setting name="DIRECT_PRINT_STORE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="STORE_PRIMERY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CURRANCY_BUY_FIXED" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CURRANCY_SALE_FIXED" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CURRANCY_FIXED" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="IS_REPORT_SELECT_INVOICE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IVC_SALE_FIXED" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IVC_BUY_FIXED" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="IS_CASH_MONEY" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="POS_PRICE_MULTIPLAY" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="UNIT_NAME_DEFUALT" serializeAs="String">
        <value>قطعة</value>
      </setting>
      <setting name="LOAD_ITEMS_BALANCE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CNY_KASHEF" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ST_VirtualUI" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FLAG_MINUS_TRANSFER" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ABROVE_STORE_MINU" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UPDATE_COST_INBUY" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PHONE_REQUST" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TYPE_PRICE_PRIMERY" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IS_SELL_MIN_COST" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TT_COMPANY_FULL" serializeAs="String">
        <value>IraqSoft</value>
      </setting>
      <setting name="SHOW_COMPANY" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TT_PC_NAME" serializeAs="String">
        <value>.</value>
      </setting>
      <setting name="TT_SERVER_NAME" serializeAs="String">
        <value>SALES_DEV</value>
      </setting>
      <setting name="TT_USER_NAME" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="TT_PASSWORD" serializeAs="String">
        <value>12345</value>
      </setting>
      <setting name="TT_FILE_NAME" serializeAs="String">
        <value>SPEEDOO.txt</value>
      </setting>
      <setting name="LINK_SMS" serializeAs="String">
        <value>192.168.0.1</value>
      </setting>
      <setting name="SEND_SMS_CLIENTS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SEND_SMS_PARENT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PARENT_NUMBER" serializeAs="String">
        <value />
      </setting>
      <setting name="SEND_EMAIL_CLIENT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SEND_EMAIL_PARENT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PARENT_EMAIL" serializeAs="String">
        <value>info@iraq-soft.com</value>
      </setting>
      <setting name="GOIP_SENDER" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SMS_TEXT" serializeAs="String">
        <value />
      </setting>
      <setting name="GOIP_USER" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="GOIP_PASSWORD" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="FOLDER_SAVE_CLOUD_PC" serializeAs="String">
        <value>C:\MySettingSPEEDOO\BACKUP</value>
      </setting>
      <setting name="BACKUP_CLOUD_EXIT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SHOW_NET_CURRANCE_2" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SHOW_MORE_PRICE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SYNC_QTY_APP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SYNC_TIME" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="STATE_TSTS_CLOUD_BACKUP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CH_CHANGE_COST" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CARD_DEBIT_SAES" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FRM_CARD_OR_POS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MAX_INVOICE_DAY" serializeAs="String">
        <value>1000000</value>
      </setting>
      <setting name="SHOW_BALANCE_ACC" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ADD_BALANCE_ITEMS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SHOW_ITEM_BALANCE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_ITEM_DEPLICATE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IS_SALES_DIRECT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VER_TELEGRAM" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TEL_CHAT_ID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GOIP_ONLINE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="V_NO_DATA" serializeAs="String">
        <value>1.2.6.1</value>
      </setting>
      <setting name="SHOW_COST_PRICE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FLAG_CASH_MONEY" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SAVE_PHONE_ADDRESS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_PHARMACY" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ROUND_TYPE" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ROUND_VALUE" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="IS_AUTO_SEARCH_ITEM" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IS_SHOW_COST" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="COST_MULTIPLAY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PRINTER_NAME_BARCODE" serializeAs="String">
        <value>BARCODE</value>
      </setting>
      <setting name="DIRECT_PRINT_BARCODE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WAJBA_TYPE" serializeAs="String">
        <value>EXP_DATE</value>
      </setting>
      <setting name="WAJBA_SORT" serializeAs="String">
        <value>ASC</value>
      </setting>
      <setting name="DINAMIC_SELECT_WAJBA" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FLAG_PRINT_BARCODE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SHOW_ITEM_BALANCE_STORE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="STORE_PRIMERY_BUY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BACKUP_EXIT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SHOW_ITEM_SIGN" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SELECT_CLIENT_POS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SELL_BY_BUY" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TN_NOTIFICATION" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LINK_IMG_OFFLINE" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="DIS_DAY_DEBIT" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DIS_PERCENT_DEBIT" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DIS_PERCENT_CASH" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DIS_PERCENT_PKT" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DIS_PERCENT_DAY_MULTIPLY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DIS_PERCENT_SINGLE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LINK_API" serializeAs="String">
        <value />
      </setting>
      <setting name="API_SERVER" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LAST_SELL_CLIENT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_MAX_DEBIT_CLIENT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="INSERT_DIRECT_APP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WEIGHT_TYPE" serializeAs="String">
        <value>ROGNTA</value>
      </setting>
      <setting name="WEIGHT_PORT" serializeAs="String">
        <value>COM4</value>
      </setting>
      <setting name="IS_QR_SALES_BUY" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_RETURN_USE_BILL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_MAIN_SEND_TELEGRAM" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SANAD_DEFOULT_SIZE" serializeAs="String">
        <value>604</value>
      </setting>
      <setting name="WHATSUP_LINK_IP" serializeAs="String">
        <value>http://127.0.0.1:9000</value>
      </setting>
      <setting name="BASE_URL_APP" serializeAs="String">
        <value />
      </setting>
      <setting name="IS_SEND_INVOICE_WHATSAPP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_ADD_NOTE_SALES" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_MAIN_PC" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IS_SEND_TELE_FROM_TABLE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="KASHEF_WITH_BALANCE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NUM_EXIST_ONLINE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NEW_BILL_SANAD" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NOTE_PRINT_80" serializeAs="String">
        <value />
      </setting>
      <setting name="SERIAL_EXPIRED_DAY" serializeAs="String">
        <value>365</value>
      </setting>
      <setting name="IS_RIEGHT_TO_LIFT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IS_MANDOOB_SELECT_SALES" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BRANCH_URL_APP" serializeAs="String">
        <value />
      </setting>
      <setting name="ASK_SAVE_SALES" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SEARCH_SALES_CONTAIN" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IS_UNIT2_OPEN_DEFOALT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_USED_COST_UNIT1_BUY_ADD" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NAME_UNIT2_DEFOALT" serializeAs="String">
        <value>كارتون</value>
      </setting>
      <setting name="BTN_FONT" serializeAs="String">
        <value>Tahoma, 8.25pt</value>
      </setting>
      <setting name="IS_SIP_PHONE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_MULTIPLAY_SELL_IN_BUY" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_TYPE_PRICE_PER_CLIENTS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_NOT_DIPLICATE_ITEM_POS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IS_PERCENT_ARBAH_NEW" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IS_AKSAT_ITEMS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_FACTORY_FROM_SELL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TAX_ACCOUNT" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ST1_DATE" serializeAs="String">
        <value>06/01/2025 23:59:00</value>
      </setting>
      <setting name="ST2_DATE" serializeAs="String">
        <value>06/01/2025 23:59:00</value>
      </setting>
      <setting name="ST3_DATE" serializeAs="String">
        <value>06/01/2025 23:59:00</value>
      </setting>
      <setting name="NOT_EDIT_INVOICE_WITH_SANAD" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NOT_ADD_CLIENT_INVOICE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NOT_ADD_ITEMS_INVOICE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DEFOULT_DAY_AKSAT" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IS_SHOW_AFTER_ACCEPT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TIME_EXIT_ROOM" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="DEFUALT_CLIENT_SALES" serializeAs="String">
        <value>2100000</value>
      </setting>
      <setting name="DEFUALT_CLIENT_BUY" serializeAs="String">
        <value>2100000</value>
      </setting>
      <setting name="IS_WARNING_CLIENT_CHANGE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DEFUALT_QTY_AKSAT" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MIN_HIEGHT" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MIN_WIDTH" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ROUND_HW" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MULTIPLY_HW" serializeAs="String">
        <value>0.01</value>
      </setting>
      <setting name="PATH_BACKUP_EXIT" serializeAs="String">
        <value>C:\MySettingSPEEDOO\BACKUP_SPEEDOO_EXIT</value>
      </setting>
      <setting name="IS_WORK_JOB" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_MULTI_BRANCH_URL_APP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DATE_STYLE" serializeAs="String">
        <value>yyyy/MM/dd</value>
      </setting>
      <setting name="QTY_LABEL_KIMASH" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IS_WARNNING_LAST_SELL_CLIENT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_SAVE_PDF" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SIP_API_LINK" serializeAs="String">
        <value />
      </setting>
      <setting name="WHATSAPP_KEY" serializeAs="String">
        <value />
      </setting>
      <setting name="WHATSAPP_EXPIRED" serializeAs="String">
        <value>2024-01-01</value>
      </setting>
      <setting name="INTEGAR_CLIENT_BARCODE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TBP_COM" serializeAs="String">
        <value>COM4</value>
      </setting>
      <setting name="IS_ADD_MULTI_ITEMS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_BALANCE_GROUP_STORE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WARNING_DATE" serializeAs="String">
        <value>07/23/2026 23:59:00</value>
      </setting>
      <setting name="EXPIRED_DATE" serializeAs="String">
        <value>01/23/2026 23:59:00</value>
      </setting>
      <setting name="WARNING_STR" serializeAs="String">
        <value />
      </setting>
      <setting name="IS_SHOW_MORE_ITEM_INFO_SALES" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IS_CARD_CLIENT_POS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_CARD_CLIENT_POS_SELECT_IVC" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LINK_TABOR_OFFLINE" serializeAs="String">
        <value />
      </setting>
      <setting name="IS_TABOR" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="USER_NAME_TABOR" serializeAs="String">
        <value />
      </setting>
      <setting name="PASSWORD_TABOR" serializeAs="String">
        <value />
      </setting>
      <setting name="LINK_TABOR_ONLINE" serializeAs="String">
        <value>https://q-tabor.iraqsapp.com</value>
      </setting>
      <setting name="CATEGORY_EXCEPT_TABOR" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WA_TOKEN" serializeAs="String">
        <value />
      </setting>
      <setting name="WA_INSTANCE_ID" serializeAs="String">
        <value />
      </setting>
      <setting name="WA_IS_SEND_INVOICE_WHATSAPP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WA_IS_WHATSAPP_ADVANCE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WA_IS_MASSEGE_RECEVED_WHATSAPP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_SELECT_CLIENT_IN_NEW" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_CLIENT_CURRANCY_IN_SALES" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_PRINT_QR_VISITOR" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KEY_REGION_PHONE" serializeAs="String">
        <value>964</value>
      </setting>
      <setting name="IS_POINTS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="QI_DEVICE_PORT" serializeAs="String">
        <value>COM3</value>
      </setting>
      <setting name="SWICH_DEVICE_PORT" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="IS_INSERT_MANDOOB_ITEM" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FOR_POINTS_QTY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AMOUNT_FOR_POINTS" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SWICH_DEVICE_TID" serializeAs="String">
        <value />
      </setting>
      <setting name="IS_DISCOUNT_CLIENT_TO_ITEMS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_REASON_DELETE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="COL_LIST_ITEMS" serializeAs="String">
        <value>الرصيد, التعبئة, المخزن, سعر المفرد, سعر الجملة, سعر الوكيل, السعر عملة ثانوية, رقم الرف</value>
      </setting>
      <setting name="IS_INSERT_MANDOOB_ITEM_DETAILS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IS_TELEGRAM" serializeAs="String">
        <value>False,False,False,False,False,False,False,False,False;False;False,False,False,False,False;False,False,</value>
      </setting>
      <setting name="SELECT_REPORT_DATE" serializeAs="String">
        <value>اليوم الحالي</value>
      </setting>
      <setting name="TELEGRAM_CONNECTION" serializeAs="String">
        <value>ME</value>
      </setting>
    </SPEEDOO_APP.My.MySettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeAnalysis" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.7.0.0" newVersion="4.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.AttributedModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeAnalysis.Workspaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.7.0.0" newVersion="4.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeAnalysis.VisualBasic" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.7.0.0" newVersion="4.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.TypedParts" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.Hosting" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Humanizer" publicKeyToken="979442b78dfc278e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.14.0.0" newVersion="2.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.24.0.0" newVersion="6.24.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.47.2.0" newVersion="4.47.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.4" newVersion="8.0.0.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>